
/* width */
::-webkit-scrollbar {
  width: 1.5vw;
}

@media (max-width: 850px) {
  ::-webkit-scrollbar {
  width: 2vw;
}
}

/* Track */
::-webkit-scrollbar-track {
  background: #414141;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(43, 43, 43);
  border-radius: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(61, 55, 55);
}
